{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.type) }}
    {{ form_row(form.identifier) }}
    {{ form_row(form.tags) }}
    <button type="submit">Enregistrer</button>
{{ form_end(form) }}
